@model MessageViewModel

@{ ViewData["Title"] = "Message: " + Model.Message.ToString();}

<p class="h1">@Model.Message</p>    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

